
<header>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation" routerLinkActive="active">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-4" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link">Buy <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Rent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">NewProperty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">BestAgent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Motivation</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link"><i class="fas fa-question-circle"></i>My Enquiries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fas fa-search-location"></i>My home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fas fa-sign-in-alt"></i>Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
