
<app-header></app-header>
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
          <p class="lead">A great starter layout for a landing page</p>
        </div>
      </div>
    </div>
</header>

<div class="container mt-5 mb-5">

  <div class="container mt-5 mb-5 ">
      <h3 style="font-family: Arial, Helvetica, sans-serif;">Trying to find a good property for a best price! Then you are at the right place to fulfill your dreams. It can be Letting, New, or Mortgage this Property lookUp comes with the best results.</h3>
  </div>

  <div class=" container mt-5 mb-5">
      <div class="row mb-5">
          <div class="col-lg-8"><img class="mx-auto d-block" src="../../assets/img/propertyvalu.PNG"></div>
          <div class="col-lg-4 mt-5">
            <h3>Worried about your home price?</h3>
            <h3>Get Free Evaluation</h3>
            <button type="button" class="btn btn-success">My Enquiries</button>
          </div>
      </div>
  </div>

  <div class="cotainer" style="margin-bottom: 10%;">
    <div class="row">
      <div class="col-6 mt-5 text-center">
        <img src="../../assets/img/homeloneEdit.png">
        <h4 style=" font-family: Arial, Helvetica, sans-serif;">Mortgage</h4>
        <h4 style="font-family: Arial, Helvetica, sans-serif;">No Stress! Get the right search and take the right type of Mortgage</h4>
      </div>
      <div class="col-6 mt-5 text-center">
        <img src="../../assets/img/conveyan.png">
        <h4 style=" font-family: Arial, Helvetica, sans-serif;">Conveyancing</h4>
        <h4 style=" font-family: Arial, Helvetica, sans-serif;">Trying to find a good property for a best price!</h4>
      </div>
    </div>
  </div>
  

  <div class="container mb-5 mt-5">
        <div class="row mt-5">
          <div class="col" style="font-weight: bold; font-size: 20px;">
            Browse for rent and buy the property in different cities
          
          </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              
                <a class=" "><img src="../../assets/img/london.jpg" height="300px" width="270px">
                <div class="content">
                <h4 style="text-align: center; font-weight: bolder; background: rgba(0, 0, 0, 0.5);">Property at London</h4>
                </div></a>
              
            </div>
            <div class="col-lg-3">
                <a class=""><img src="../../assets/img/edinbrughEdit.png" height="300px" width="270px">
                <div class="content">
                <h4 style="text-align: center; font-weight: bolder; background: rgba(0, 0, 0, 0.5);">Property at Edinbrugh</h4>
                </div></a>
            </div>
          <div class="col-lg-3">
            <a class=""><img src="../../assets/img/walesEdit.png" height="300px" width="270px">
              <div class="content">
              <h4 style="text-align: center; font-weight: bolder; background: rgba(0, 0, 0, 0.5);">Property at Wales</h4>
            </div></a>
          </div>
          <div class="col-lg-3">
            <a class=""><img src="../../assets/img/liverpoolEdit.png" height="300px" width="270px">
              <div class="content">
              <h4 style="text-align: center; font-weight: bolder; background: rgba(0, 0, 0, 0.5);">Property at Liverpool</h4>
            </div></a>
          </div>
        </div>
      </div>
  </div>

</div>

<app-footer></app-footer>


